.header {
    align-self: center;
    margin: 20px 20px;
}
/* .header__title {
    padding: 20px;
    background-color: var(--blue);
    border-radius: 5px;
    color: white;
} */

.about-main {
    height: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
    /* padding: 20px; FOR THE FOOTER, i AM LEAVING 10PX */
    /* border: 2px solid rgb(255, 132, 0); */
    /* font-size: 3rem;
    word-spacing: 10px;
    line-height: 5rem; */
}

.main__flex {
    /* COMMON */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid green; */
    padding: 10px;
    box-shadow: 2px 2px 8px lightgray;
    background-color: white;
    min-width: 100%;
}
.about-main__description {
    margin-top: 20px;
    padding: 30px;
    text-align: start;
    color: var(--font-color)
}
.about-main__img{
    max-width: 300px;
    /* border: 2px solid rgb(13, 0, 253); */
    margin-top: 20px;
    padding: 10px;
    border-radius: 50%;
}




@media screen and (min-width: 1000px) {
    .about-main {
        height: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 110px; /* FOR THE FOOTER, i AM LEAVING 10PX */
        /* border: 2px solid rgb(255, 132, 0); */
    }
    
    .main__flex {
        /* COMMON */
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-around;
        min-width: 100%;
        /* border: 2px solid green; */
        /* padding: 10px; */
        max-width: 100vw;

    }
    .about-main__img {
        margin-right: 30px;
    }
    .about-main__description {
        padding: 30px;
        margin-left: 30px;
    }
}