:root {
    --blue: #003cff;
    --white: #ffffff;
    --grey: rgb(243, 243, 243);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* START FROM MOBILE VIEW */
body {
    /* COMMON */
    display: grid;
    grid-template-rows: 100px auto 100px; /* CHANGE FOR THE DESKTOP VERSION */
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    background-color: var(--grey);
}

.navigation {
    /* COMMON */
    display: flex;
    max-width: 100vw;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 0 8px rgb(225, 225, 225);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;
}
.navigation__elements {
    margin: 0 15px;
}
.navigation__logo {
    letter-spacing: 3.5px;
    font-weight: bolder;
    font-size: x-large;
}
.navigation__list {
    /* COMMON */
    display: none;
}
.navigation__hamburger {
    /* COMMON */
    border: none;
    background-color: white;
}
.navigation__hamburger-img {
    /* COMMON */
    width: 40px;
    height: 40px;
}
.display__nav {
    /* border: 2px solid red; */
    display: block;
    display: flex !important;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 100px;
    right: 0;
    min-width: 50vw;
    height: 500px;
    background-color: white;
    color: black;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px rgb(130, 130, 130);
}
.navigation__item {
    min-width: 100%;
    display: block;
    text-align: center;
}
.navigation__link {
    display: inline-block;
    /* border: 2px solid red; */
    min-width: 100%;
    padding: 20px;
    text-decoration: none;
    color: black;
}
.navigation__link:hover {
    background-color: var(--blue);
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
.header {
    align-self: center;
    margin: 0 20px;
    margin-bottom: 30px;
    /* border: 2px solid red; */
}
.header__title {
    /* display: inline-block; */
    text-align: center;
}

.testimonial-main {
    height: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px; /* FOR THE FOOTER, i AM LEAVING 10PX */
    /* border: 2px solid rgb(255, 132, 0); */
    /* font-size: 3rem;
    word-spacing: 10px;
    line-height: 5rem; */
}

.main__flex{
    /* COMMON */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid green; */
    padding: 10px;
    min-width: 100%;
    /* background-color: red; */
}
.home-main__social-link {
    display: inline-block;
    padding: 10px;
}
.contact__social {
    /* border: 2px solid green; */
    padding: 20px;
    box-shadow: 2px 2px 8px lightgray;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 50%;
}
.social__container {
    min-width: 90%;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}
.social__img {
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
}
.form {

    min-width: 50%;
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    padding: 30px 60px;
    box-shadow: 2px 2px 8px lightgray;
    background-color: white;
    border-radius: 5px;
}
.form__element {
    display: block;
    margin-top: 10px;
    max-width: 100%;
}
.form__input {
    padding: 10px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}
.form__submit {
    padding: 10px 20px;
    margin: 10px 10px 0 0;
    background-color: var(--blue);
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}



.footer {
    /* COMMON */
    /* border: 2px solid black; */
    position: absolute;
    min-width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    z-index: -1;
}
.footer__elements {
    /* COMMON */
    margin: 0 10px;
}




@media screen and (min-width: 1000px) {
    .navigation {
        /* COMMON */
        display: flex;
        max-width: 100vw;
        /* border: 2px solid red; */
        justify-content: space-between;
        align-items: center;
        box-shadow: 4px 0 8px rgb(225, 225, 225);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: white;
    }
    .navigation__elements {
        margin: 0;
    }
    .navigation__item {
        display: inline-block;
    }
    .navigation__link {
        margin: 0;
        padding: 15px 10px;
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
    .navigation__link:hover {
        background-color: var(--blue);
        color: white;
        font-weight: bolder;
        border-radius: 5px;
    }
    .navigation__item {
        min-width: auto;
        display: inline-block;
        text-align: center;
    }
    .a_active {
        /* COMMON */
        background-color: var(--blue);
        color: white;
        font-weight: bolder;
        border-radius: 5px;
    }
    .navigation__logo {
        margin: 0 15px;
        letter-spacing: 3.5px;
        font-weight: bolder;
        font-size: x-large;
    }
    .navigation__list {
        /* COMMON */
        display: block;
    }
    .navigation__hamburger {
        /* COMMON */
        display: none;
    }
    
    .home-main {
        height: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 110px; /* FOR THE FOOTER, i AM LEAVING 10PX */
        /* border: 2px solid rgb(255, 132, 0); */
    }
    
    .main__flex {
        /* COMMON */
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-around;
        min-width: 100%;
        /* border: 2px solid green; */
        padding: 10px;
    }
    .contact__social {
        /* border: 2px solid green; */
        padding: 40px 60px;
        box-shadow: 2px 2px 8px lightgray;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 30px;
        margin: 10px;
        width: auto;
        /* width: 70%; */
    }
    .form {
    
        max-width: 45%;
        /* border: 2px solid red; */
        margin: 10px;
        padding: 0;
        padding: 30px 30px;
        box-shadow: 2px 2px 8px lightgray;
        background-color: white;
        border-radius: 5px;
        max-width: 100px;
    }
}