
.header {
    align-self: center;
    margin: 20px 20px;
    margin-bottom: 50px;
}
.header__title {
    /* display: inline-block; */
    text-align: center;
}

.portfolio-main {
    height: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px; /* FOR THE FOOTER, i AM LEAVING 10PX */
    /* border: 2px solid rgb(255, 132, 0); */
    /* font-size: 3rem;
    word-spacing: 10px;
    line-height: 5rem; */
}

.main__flex {
    /* COMMON */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    /* border: 2px solid green; */
    padding: 10px;
}
.section-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    /* border: 2px solid #003cff; */
    width: 40%;
    margin: 10px;
    /* background-color: rgb(172, 172, 172); */
    background-color: white;
    box-shadow: 2px 2px 8px lightgray;
    border-radius: 5px;
}
.card__img {
    padding-top: 10px;
    max-width: 50%;
    align-self: center;
    /* border: 2px solid #003cff; */
}
.portfolio__move-left, .portfolio__move-right {
    display: none;
}
.card__description {
    padding: 10px;
    margin-top: 15px;
}




@media screen and (min-width: 1000px) {
    
    .portfolio-main {
        height: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 110px; /* FOR THE FOOTER, i AM LEAVING 10PX */
        /* border: 2px solid rgb(255, 132, 0); */
    }
    
    .main__flex {
        /* COMMON */
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        /* border: 2px solid green; */
        padding: 10px;
    }
    .section-wrapper {
        width: 90%;
        display: flex;
        justify-content: center;
        /* flex-wrap: wrap; */
    }
    .card {
        display: flex;
        flex-direction: column;
        /* border: 2px solid #003cff; */
        width: 23%;
        margin: 5px;
    }
    .card__img {
        max-width: 50%;
        align-self: center;
        /* border: 2px solid #003cff; */
    }
    .portfolio__move-left, .portfolio__move-right {
        display: block;
        font-size: 4rem;
        font-weight: bolder;
        background-color: black;
        color: white;
        border: none;
        /* height: 70%; */
        padding: 0 10px;
        border-radius: 5px;
    }
}


@media screen and (max-width: 700px){
    .section-wrapper {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
        /* padding: 30px; */
        /* background-color: red; */
    }
    .card {
        display: flex;
        flex-direction: column;
        /* border: 2px solid #003cff; */
        width: 60%;
        margin: 10px;
        /* background-color: rgb(172, 172, 172); */
        background-color: white;
        box-shadow: 2px 2px 8px lightgray;
        border-radius: 5px;
        padding: 0;
    }
    .card__img {
        min-width: 100%;
        height: 70%;
        align-self: center;
        margin: 0;
        padding: 10;
        /* border: 2px solid #003cff; */
    }
}