.testimonial-main {
    height: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 110px;
}
.header {
    align-self: center;
    margin: 0 20px;
}
.header__title {
    text-align: center;
}

.main__flex {
    /* COMMON */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    box-shadow: 2px 2px 8px lightgray;
    background-color: white;
    min-width: 100%;
}
.header__testimonial-intro {
    margin-top: 20px;
    text-align: justify;
    color: var(--font-color);
    margin-bottom: 20px;
}
.table {
    border-collapse: collapse;
    border-radius: 5px;
    max-width: 800px;
    border-radius: 5px;
}
.td__wrapper {
    display: flex;
    align-items: center;
}
.table__header {
    width: 30rem;
    border-collapse: collapse;
    padding: 30px;
}
.table__row {
    padding-top: 10px;
    border-collapse: collapse;
    box-shadow: 1px 0px 4px lightgrey;
    border-radius: 5px;

}
.table__data {

    padding: 30px;
    border-collapse: collapse;
    justify-content: center;
    text-align: center;
}
.table__img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


@media screen and (min-width: 1000px) {
    .testimonial-main {
        height: 100%;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 110px;
    }
    .header__testimonial-intro {
        margin-top: 20px;
        text-align: justify;
        color: var(--font-color);
        margin-bottom: 20px;
    }
    
    .main__flex {
        /* COMMON */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        min-width: 100%;
        padding: 40px 10px;
        box-shadow: 2px 2px 8px lightgray;
        background-color: white;
        min-width: 100%;
    }
    .table {
        border-collapse: collapse;
        border-radius: 5px;
        min-width: 900px;
    }
}